/* .header-container{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
} */
.header-container h1{
    text-transform: uppercase;
    line-height: 3.2rem;
    width: 60%;
    padding-top: 1rem;
    text-align: left;
    font-weight: bold;
}
.btnsearch {
    background-color: var(--mainBlue);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
  }
  .search{
      font-size: 12px !important;
  }
  .more-options{
    background-color: #1e242f;
    /* max-width: 20rem; */
    /* float: right; */
    /* overflow-y: scroll; */
}
.mobile-filter{
    display: none;
}

  @media only screen and (max-width: 600px) {
    .intro {
        font-size: 0.9rem;
        margin-bottom: 0.5rem!important;
        text-align: center !important;
    }
    .btnsearch{
        margin-top: 10px !important;
        font-size: 0.7rem;
    }
    .side-bar{
        display: none;
    }
    .more-options{
        background-color: #1e242f;
        max-width: 100% !important;
    }
    .mobile-filter{
        display: block;
    }
  }